<!-- layout.ejs -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEDUZAC - <%= pageTitle %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="/script/panelAdministracion.js"></script>
  <!-- No mover el de header -->
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/panelAdministracion.css">
</head>

<body>
  <%- include('partials/header.ejs') %>
  <main class="container" style="padding-block: 30px !important;">
    <div class="row justify-content-between" style="align-items: center; justify-content: space-between;">
      <div class="form-group col-md-6">
        <h3>Solicitudes pendientes</h3>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="rfcBusqueda">RFC</label>
        <input type="text" class="form-control" id="rfcBusqueda" onchange="filter(this.value)">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" onclick="filter(document.querySelector('#rfcBusqueda').value)">Buscar</button>
    <hr style="margin-block: 50px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">RFC</th>
          <th scope="col">Razón Social</th>
          <th scope="col">Giro</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="contenidoTabla">
        <% if (solicitudesPendientes.length>0) { %>
          <% solicitudesPendientes.forEach((element)=>{ %>
          <tr>
            <th scope="row"></th>
            <td><%= element.rfc %></td>
            <td><%= element.razonSocial %></td>
            <td><%= element.giro %></td>
            <td><%= element.entidad %></td>
            <% if (element.status=='pendiente') { %> <td><i class="bi bi-hourglass"></i></td> <% } %>
            <% if (element.status=='aprobado') { %> <td><i class="bi bi-check2-all"></i></td> <% } %>
            <% if (element.status=='rechazado') { %> <td><i class="bi bi-x-lg"></i></td> <% } %>
            <td><button class="btn btn-outline-danger"><i class="bi bi-eye"></i></button></td>            
          </tr>
          <% }) %>
        <% } else { %>
          <tr>
            <td colspan="7" style="text-align: center;">
              <h5>Ninguna solicitud pendiente por verificar</h5>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>